/* Estilos Gerais */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    transition: background-color 0.3s;
    color: #e0e0e0;
  }
  
  img {
    height: 60px;
    width: auto;
    padding-right: 15px;
    transition: transform 0.3s;
  }
  
  img:hover {
    transform: scale(1.2);
  }
  
  /* Cabeçalho */
  header {
    background: #e84a60;
    color: #000;
    padding: 20px;
    text-align: center;
    font-family: "Anton", sans-serif;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  nav {
    margin: 15px 0;
    position: sticky;
    top: 0;
    background: #e84a60;
    z-index: 1000;
  }
  
  nav a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    transition: color 0.3s, transform 0.3s;
    position: relative;
  }
  
  nav a:hover {
    color: #65afff;
    transform: scale(1.05);
  }
  
  nav a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #65afff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
  }
  
  /* Animações */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Estilos de Erro */
  input.invalid,
  textarea.invalid {
    border-color: red;
  }
  
  input,
  textarea {
    border-radius: 10px;
  }
  
  /* Container Principal */
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1b2845;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  /* Estilo do Formulário */
  form {
    display: flex;
    flex-direction: column;
    animation: slideIn 0.5s;
    gap: 10px; /* Adiciona espaço entre os elementos */
  }
  
  #form-feedback {
    display: none; /* Inicialmente escondido */
    background-color: #4caf50;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  #form-error {
    display: none; /* Inicialmente escondido */
    background-color: #f44336;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  label {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    display: block; /* para que ocupe uma linha inteira */
  }
  
  /* Campos de Entrada */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 95%;
    margin-top: 0; /* Remove o espaço acima do textarea */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    padding-left: 30px; /* Espaço para o ícone */
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #e84a60;
    outline: none;
    box-shadow: 0 0 5px rgba(232, 74, 96, 0.5);
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .input-icon {
    position: relative;
    margin-right: 10px;
  }
  
  .clips {
      padding: auto;
      height: 40px;
  }
  
  .input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
  }
  
  .input-icon textarea {
    padding-left: 40px; /* Aumenta o espaço à esquerda para o ícone */
    resize: none; /* Desativa a redimensionamento do textarea */
  }
  
  /* Botões */
  button {
    margin-top: 20px;
    padding: 12px;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background-color: #d81b60;
    transform: scale(1.05);
  }
  
  /* Estilo das Perguntas Frequentes */
  .faq {
    margin-top: 20px;
  }
  
  .faq-item {
    max-height: 60px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1b2845;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .faq-item:hover {
    background-color: #f1f1f154;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .faq-item h3 {
    margin: 0;
    cursor: pointer;
    color: #007bff;
    font-size: 1.3rem;
    transition: color 0.3s;
  }
  
  .faq-item h3:hover {
    color: #0056b3;
  }
  
  .faq-item h3::after {
    content: "▼";
    float: right;
    transition: transform 0.3s;
  }
  
  .faq-item h3[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    color: #fff;
  }
  
  /* Loader */
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    display: none;
  }
  
  .loader.active {
    display: block;
  }
  
  /* Logo */
  .Logo {
    animation: fadeIn 1s ease-in;
  }
  
  /* Botão Flutuante */
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e91e63;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .floating-button:hover {
    background-color: #d81b60;
    transform: scale(1.1);
  }
  
  /* Responsividade */
  @media (max-width: 576px) {
    .header-content {
      flex-direction: column;
    }
    .container {
      padding: 15px;
    }
    h1 {
      font-size: 2rem;
    }
    button {
      padding: 10px;
    }
    nav {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Estilos dos Ícones */
  .login-icon,
  .cart-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 50px;
  }
  
  .login-icon::before,
  .cart-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login-icon::before {
    content: "\f007";
  }
  
  .cart-icon::before {
    content: "\f07a";
  }
  
  [data-tooltip] {
    position: relative;
  }
  
  [data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
  }
  